

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rebeccapurple;
    color: #C9D1D9;
}

h1 {
    color: #58A6FF;
    font-weight: bold;

}

/* Attribute Selector */
a {
    color: #8b949e;
    text-decoration: none;

}

a:hover {
    color: #1f6feb;

}

/* Child Selector */
ul > li {
    font-weight: bold;
}

/* Sibling Selector */
h1 + p {
    background-color: #161b22;
    padding: 10px;
    border-radius: 5px;
}

/* :hover Pseudo class */
ul li:hover {
    color: red;
}

/* :nth-child(n) Pseudo-class */
ul li:nth-child(3) {
    background-color: #21262d;
}

/* :not(selector) Pseudo-class */
p:not(:first-of-type) {
    text-decoration: underline;
}

/* ::brfore Pseudo-element */
ul li::before {
    content: "🚀";
}

/* ::after pseudo-element */
a::after {
    content: "❤";
}

/* :: first-letter pseudo-element */
p::first-letter {
    font-size: 200%;
    color: #ff7b72;
}